* {
    margin: 0;
    box-sizing: border-box;
}


body > div.container > div > img {
    border-radius: 10px;
}

/*informativos*/

.container {
    margin: auto;
    max-width: 800px;
    
   }
   
   .main {
       margin: auto;
       max-width: 600px;
   }
   
   .icones img {
       width: 20px;
   }
   
   .me {
       text-decoration: none;
       color: red;
   }
   .main img {
       width: 100%;
   }

